/* Paleta de Cores */
:root {
    --color1: #ffffff; /* Branco */
    --color2: #f7f7f7; /* Cinza claro */
    --color3: #d1e7dd; /* Verde claro */
    --color4: #6c757d; /* Cinza médio */
    --color5: #0d6efd; /* Azul claro */
}

/* Estilo Geral */
body {
    font-family: 'Roboto', Arial, sans-serif;
    color: var(--color4);
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.container {
    background: var(--color2);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 90%;
    max-width: 100px;
    margin: 20px auto;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

.title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

a {
    color: var(--color5);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: var(--color3);
}

/* Botões */
button {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--color3);
    color: var(--color4);
}